.head_image{
    padding: 0;
}
.img-responsive{
    max-height: 250px;
    width: 100%;
}
body{
    font-family: 'Amatic SC', cursive;
}
.content h1{
    font-size: 5em;
    font-weight: 900;
}
.add{
    font-size: 3em;
    margin: 1em;
}
.table-header h4{
    font-size: 3em;
    font-weight: 700;
}
.table-content{
    font-weight: 700;
}
.table-content h4{
    font-size: 2em;
}
hr{
    background-color: #555;
    height: 1px;
    border-radius: 2px;
}

@media only screen and (max-width: 768px){

    .col-sm-3 {
        width: 20%;
        display: inline-block;
        margin: .5em;
        
    }
    .table-header {
        padding: 0;
        text-align: center;
    }
    .table-header h4 {
        font-family: "Helvetica Neue";
        font-size: 1.2em;
        text-align: center;
    }
    .table-content h4 {
        font-family: "Helvetica Neue";
        font-size: .9em;
        text-align: center;
        margin: 0;
    }
    .well {
        padding: .3em;
    }
}