.top_part .row .page-header{
    background-color: lightgray;
}
.page-header{
    text-align: center;
}
.calc_title{
    font-size: 5em;
}
.form-all{
    margin: auto;
    margin-top: 4em;
    text-align: center;
}
.all_output{
    font-size: 2em;
}
.btn{
    min-width: 7em;
}
body{
    color: #555;
    background-color: #6C929F;
}

@media only screen and(max-width: 768px){
    [class*="col-"]{
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    body {
        background-color: lightblue;
    }
}