<!DOCTYPE html>
<html lang="en" ng-app="MainApp">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body ng-controller="MainController">
    
    <button ng-click="get()">Get</button>
    <br><br>
    
    <input type="text" placeholder="Enter a new bounty here" ng-model="newBounty">
    <button ng-click="post()">Post</button>
    <br><br>
    
    <input type="text" placeholder="Enter a name to delete" ng-model="deleteBounty">
    <button ng-click="delete()">Delete</button>
    <br><br>
    
    <input type="text" placeholder="Enter a name to update" ng-model="updateFrom">
    <input type="text" placeholder="Enter a new name" ng-model="updateTo">
    <button ng-click="put()">Put</button>
    
    
    <div ng-repeat="bounty in bounties" ng-if="display">
        <h1>{{bounty.firstname}} {{bounty.lastname}}</h1>
        <h4>Cost: {{bounty.amount}}</h4>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="bountyService.js"></script>  
</body>
</html>