body {
    font-family: 'Sigmar One', cursive;
    background-color: #55AA55;
}

.title {
    font-size: 5em;
    margin-bottom: 1em;
}


/* button formatting */

.btn-format {
    margin-top: 1em;
    font-size: 2em;
    color: #555;
    text-shadow: 2px 2px 2px white;
    box-shadow: 2px 2px 2px black;
    width: 5em;
}

.btn-format:hover {
    color: #222;
}

.newItem {
    font-size: 2em;
}


/* image response */

.img-responsive {
    max-width: 100px;
    margin: 0 auto;
    border-radius: 3px;
    border: solid #222 1px;
    box-shadow: 1px 1px 1px white;
}

img {
    transition: all .5s ease;
}

img:hover {
    max-width: 200px;
}


/* maintain the form columns inline with each other */

@media screen and (max-width: 768px) {
    .form-control {
        width: 80%;
        margin-left: 20%;
    }
}