body{
    font-family: 'Baloo Paaji', cursive;
    padding: 0;
    margin: 0;
}
.container-fluid{
    width: 100%;
    height: auto;
}
.row{
    width: 100%;
    height: 10vw;
    margin: auto;
    
}
.table{
    width: 100%;
}
.col-sm-12{
    width: 100%;
    height: auto;
}
.col-sm-12 h1{
    text-align: center;
    font-size: 4vw;
}
.header h1{
    text-align: center;
    font-size: 10vw;
    text-shadow: 5px 5px 5px #555;
    margin: auto;
    position: relative;
    top: 15vw;
    color: white;
    opacity: .8;
}
.background{
    background-image: url('http://images.nintendolife.com/news/2014/07/super_smash_bros_on_both_wii_u_and_3ds_to_be_playable_at_hyper_japan_2014/large.jpg');
}
.img-responsive{
    background-repeat: no-repeat;
    background-size: 100%;
    height: 29vw;
}
.col-sm-4{
    display: inline-block;
    width: 24%;
    text-align: center;
    height: 5vw;
}
th{
    font-size: 6vw;
}
.left{
    margin-left: 1.5vw;
}
.input{
    font-family: 'Baloo Paaji', cursive;
    width: 23%;
    margin-bottom: 5vw;
    border-radius: 10px;
    font-size: 2vw;
}
.submit{
    font-family: 'Baloo Paaji', cursive;
    width: 30%;
    margin-bottom: 5vw;
    border-radius: 10px;
    font-size: 5vw;
    margin-left: 35%;
    color: white;
    background-color: blue;
    text-shadow: 5px 5px 5px #555;
    box-shadow: 5px 5px 5px #555;
}
.checky{
    text-align: center;
    margin-bottom: 3vw;
    font-size: 4vw;
}

.tooltip{
    display:none;
    position:absolute;
    border:1px solid #333;
    background-color:#161616;
    border-radius:5px;
    padding:10px;
    color:#fff;
    font-size:5vw;
}
td{
    font-size: 4vw;
}

@media screen and (max-width: 768px){
    
    .input{
        width: 80%;
        display: block;
        margin: auto;
        margin-top: 10vw;
    }
    .submit{
        width: 50%;
        margin-top: 5vw;
        margin-left: 25%;
    }
    .checky{
        margin-top: 5vw;
    }
}