@font-face {
    font-family: Pokemon;
    src: url(pokeFont/PokemonSolid.ttf);
}

body{
    background: url("http://imagesci.com/img/2013/05/sleeping-pikachu-wallpaper-5737-hd-wallpapers.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    font-family: Pokemon;
}

.title h1{
    font-size: 4em;
}

.myBtn{
    text-shadow: 3px 3px 3px #555;
    box-shadow: 3px 3px 3px #555;
    font-size: 3em;
}

.myInput{
    height: 3em;
}
.pokeName h1{
    font-size: 3em;
}
.sprite{
    width: 30%;
}