<div class="container homeCard">
    <div class="row trailersRow">
        <div class="col-xs-12 text-center">
            <div class="myCarousel" uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" ng-src="https://www.youtube.com/embed/dKrVegVI0Us" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>