body{
    font-family: 'Indie Flower', cursive;
    background-color: #AA3939;
    text-shadow: 1px 2px 4px white;
}

/* header section (title) */
.header h1{
    font-size: 10vw;
}

.fa-minus{
    float: left;
    margin-right: 1em;
    margin-left: 2em;
    transition: all .5s ease;
    position: relative;
    top: 10px;
}
.fa-minus:hover{
    color: red;
}
.item_added h3{
    display: inline;
    font-size: 3em;
    transition: all .5s ease;
}

.item_added h3:hover{
    color: #304375;
    font-size: 5em;
}

.fa-shopping-cart{
    position: relative;
    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 4s;
}
@-webkit-keyframes example {
    0%   {left:0px; top:0px;}
    25%  {left:500px; top:0px;}
    50%  {left:500px; top:0px;}
    100% {left:0px; top:0px;}
}

@media screen and (max-width: 768px){
    .col-sm-1{
        float: left !important;
        width: 10% !important;
    }
    .col-sm-11{
        width: 60% !important;
        float: left !important;
    }
    
    
}